.button__social-media {
    width: 20.3rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 0 1rem;
    outline: none;
    border: .1rem solid var(--Grey-2, #E4E4E4);
    border-radius: .5rem;

    color: var(--Grey-3, #7B7B7B);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
    transition: .1s ease-in-out;
}

.button__social-media:hover {
    font-size: 1.42rem;
}

@keyframes balance {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-35deg);
    }

    50% {
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.button__social-media:hover img {
    animation: balance .3s forwards;
}