.rightside {
    width: 50%;
    min-width: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12.6rem;
    background-color: var(--white);
}

.rightside-container {
    max-width: 32rem;
}

.rightside-login {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.rightside-login h1 {
    color: var(--primary);
    font-size: var(--font__26);

    font-weight: 700;
    word-wrap: break-word;
}

.rightside-inputs {
    width: 32rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.rightside-inputs label {
    color: var(--gray-3);
    font-size: var(--font__14);
    font-weight: 500;
    word-wrap: break-word;
}

.rightside-inputs input {
    width: 32rem;
    height: 4rem;
    flex-shrink: 0;
    padding: 0 1.5rem;

    border-radius: .4rem;
    border: .1rem solid var(--gray-2);
    background-color: var(--gray-1);
    transition: .2s ease-in-out;
}


.rightside-inputs input:focus {
    outline: none;
    border: 0 solid none;
    border-radius: 0;
    border-bottom: .1rem solid var(--primary);
    background-color: var(--white);
}

.rightside-buttons {
    display: flex;
    justify-content: space-between;
}

.rightside-buttons span {
    color: var(--gray-3);
    font-size: var(--font__12);
    font-weight: 500;
    text-decoration-line: underline;
}

.no-account {
    color: var(--gray-3);
    font-size: var(--font__16);
    font-weight: 500;
    padding: 1.8rem 0;
    border-bottom: .1rem solid var(--white-smoke);
}

.link {
    color: var(--primary);
    font-weight: 700;
    cursor: pointer;
}

.rightside__other-access {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.rightside__other-access__or {
    color: var(--gray-3);
    font-size: var(--font__16);
    font-weight: 500;
    padding-top: 2.4rem;
    padding-bottom: 1.7rem;
}

.rightside__other-access span {
    color: var(--gray-6);
    font-size: var(--font__16);
    font-weight: 700;
}

.rightside__other-access__message {
    color: var(--primary);
    font-size: var(--font__16);
    font-weight: 500;
    margin-top: 9.7rem;
}