* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Uni Neue", sans-serif;
}

a, ul, li {
  text-decoration: none;
  list-style: none;
  color: #a1a1a1;
}

html {
  font-size: 62.5%;
}

.divisory {
  max-width: 144rem;
  min-height: 87.2rem;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}